
body {
    display: flex;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    line-height: 1.5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #156dbf;
}

p {
    margin: 1rem 0;
}

code {
    padding: .2em .4em;
    font-size: 90%;

    background-color: rgba(0, 0, 0, .1);

    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
}

.sourcecode.lua {
    padding: .4em .8em;
    background-color: rgba(0, 0, 0, .1);

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;

    font-size: 18px;

    min-width: min-content;
}

table td, table th {
    padding: 6px 12px;
    border: 1px solid #111111;
}

table tr {
    background-color: #ffffff;
}

table tr:nth-child(2n) {
    background-color: #eeeeee;
}

table.parameters, table.properties {
    margin-left: 1rem;
}

#navigation {
    background-color: #dddddd;
    font-weight: 600;
    padding: 0 1rem;

    top: 0;
    position: sticky;

    height: 100%;
    height: 100vh;
    
    overflow-x: hidden;
    overflow-y: auto;

    max-width: min-content;
    min-width: min-content;
    direction: rtl;
}

#navigation > * {
    direction: ltr;
}

#navigation a.current {
    color: inherit;
}

#navigation a.current::before {
    position: absolute;
    margin-left: -1rem;
    content: "> ";
}

#navigation h3 {
    margin: 1rem 0;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0 1rem;
}

#navigation li {
    margin: 6px 4px;
}

#content {
    width: 1420px;
    max-width: 1420px;
    margin: 0 auto;
    padding: 2rem;
}

#content div.description {
    margin: 1rem 0;
}

#content span.annotated p {
    position: absolute;

    padding: 4px 6px;
    background-color: #e1e1e1;
    border: 1px solid #2c2c2c;
    border-radius: 4px;

    display: none;
}

#content abbr.note {
    vertical-align: top;
    font-size: 75%;
    margin-left: 2px;
}

#content span.annotated:hover p {
    display: block;
}

#content .table-of-contents {
    list-style: none;
    padding-left: 1em;
}

#content .sub-table-of-contents {
    list-style: none;
    padding-left: 1em;

    display: flex;
    flex-wrap: wrap;
}

#content .table-of-contents li {
    padding: 8px 6px;
}

#content .sub-table-of-contents li {
    padding: 8px 16px;

    width: 20%;
    min-width: min-content;
}

#content .sub-table-of-contents li.filler {
    margin: auto;
}

/* .parameters "Type", .parameters "Optional", .properties "Type", .properties "Value" */
table.parameters td:nth-child(2), table.parameters td:nth-child(3), table.properties td:nth-child(2), table.enumerations td:nth-child(2) {
    text-align: center;
}

.centered {
    text-align: center;
}
